/* //ABOUT PAGE HERO */
.about__hero {
  background-color: var(hero-bgcolor);
  background-image: var(--lg), url('../images/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #fff;
  min-height: 50vh;
  padding: 0.5rem;
}

.about__h2 {
  margin-bottom: 0.5rem ;
}

.about__section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.about__ul {
  padding: 0.5rem;
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
}

.about__ul li {
  background-color: var(--highlight);
  color: var(--font-color);
  width: 200px;
  margin: auto;
  padding: 0.25rem;
}

