.contact__hero {
  background-image: var(--lg), url(/src/assets/images/contact.jpg);
  background-position: center;
  min-height: 40vh;
}

.contact__div {
  margin: auto;
}

.contact__form {
  margin: 1rem auto;
}

.contact__form #email {
  text-transform: lowercase;
}

