.hero {
  background-color: var(--hero-color);
  color: var(--reverse-font-color);
  background-image: linear-gradient(rgba(1, 209, 255, 0.8), rgba(1, 209, 255, 0.226)), url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem;
}

.hero__div,
.hero__figure {
  margin-bottom: 2rem;
}

.hero__big-text {
  font-size: clamp(0.7rem, 8vw, 2.5rem);
  font-family: Helvetica;
  font-weight: bold;  
  margin-bottom: 0.5rem;
}

.hero__p a {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.hero__figure {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__figure_img {
  border-radius: 200px;
  box-shadow: 0px 0px 3px 3px var(--highlight);
  width: 200px;
  height: 280px;
}

.hero__figcaption {
  width: 200px;
  display: flex;
}

.img-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0.25rem;
}

/* //STATS */
.stats {
  display: flex;
  justify-content: space-evenly;
}

/* // ABOUT SECTION */
.about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.about__figure {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  position: relative;
}

.about__figcaption {
  border-radius: 50%;
  background-color: orange;
  outline-offset: -9px;
  outline: 2px dashed #000;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 180px;
}

.about__figure img:first-child {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: clamp(100px, 80vw, 250px);
  margin-right: 0.5rem;
}

.about__figure img:last-child {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100px;
  height: 100px;
}

.about__ul {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.about__li {
  flex-grow: 1;
  margin-right: 0.25rem;
}

.about__li:nth-child(2), 
.about__li:nth-child(3) {
  border-left:  3px dashed #333;
  padding-left: 0.5rem;
}

.about__li strong {
  font-size: clamp(1.5rem, 2.9vw, 3rem);
  display: block;
}

/* Why SECTION */
.why {
  background-color: var(--highlight);
  color: var(--reverse-font-color);
  min-height:50vh;
  padding: 1rem;
}

.why__fieldset {
  max-width: 300px;
  margin: auto;
  padding: 0.5rem;
}
.why__fieldset legend {
  font-size: 2rem;
  margin-left: 1rem;
  padding: 0.25rem;
}

/* SERVICE SECTION */
.service {
  margin-bottom: 1rem;
  padding: 1rem;
}

.service__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.service__p {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: end;
}

.service__figure {
  background-color: #eee;
  width: 300px;
  height: 200px;
  margin: 1rem auto 100px;
  display: flex;
  position: relative;

  img {
    flex-grow: 1;
  }
}

.service__figcaption {
  border-left: 5px solid var(--highlight);
  background-color: var(--body-bgcolor);
  padding: 0.5rem;
  height: 60px;
  position: absolute;
  top: 90%;
  right: 0.5rem;
  bottom: -30px;
  left: 0.5rem;
  z-index: 5;

  h3 {
    margin-top: 0;
  }
}

.service__hero {
  background-image: var(--lg), url(/src/assets/images/serviceHero.jpg);
  background-position: center;
  min-height: 40vh;
  padding: 0.5rem;
}

.service__ul {
  margin-top: 1rem;
  margin-left: 2rem;
}


/* CONTACT SECTION */
.contact {
  padding: 1rem;
}

.contact__figure {
  min-height: 50vh;
}

.contact__div {
  min-height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.home.contact__div {
  position: relative;
}

.contact__form {
  border-radius: 10px;
  background-color: var(--body-bgcolor);
  box-shadow: 0px 0px 5px var(--shadow-color);
  padding: 0.5rem;
  max-width: 400px;  
}

.home.contact__form {
  margin: 1rem auto;
  position: absolute;
  top: 20%;
}

.contact__fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.contact__fieldset legend {
  margin-bottom: 0.5rem;
}

.contact__p {
  max-width: 45%;
}

.contact label {
  font-weight: bold;
}

.contact__form input {
  text-transform: capitalize;
}

.contact__form input,
.contact__form textarea {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--shadow-color);
  width: 100%;
  padding: 0.25rem;
}

.contact__figure {
  background-color: var(--bgcolor);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('../images/contact.jpg');
  background-size: cover;
  background-position: center;
}

