@media screen and (min-width: 800px) {
  /* Utilities classes*/
  .flex {
    flex-direction: row;
  }

  /* header section */
  .header {
    padding: 1rem;
  }

  .header img {
    width: 120px;
    height: 60px;
  }
  
  .header__nav {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    position: static;
  }

  .header__ul {
    margin-bottom: 0;
    flex-direction: row;
  }

  .headerCopyright {
    position: absolute;
    left: -99999px;
  }

  .header__btn {
    display: none;
  }
  /* first hero sec */
  .hero {
    display: flex;
    justify-content: center;   
    align-items: center;   
    gap: 10px;
  }

  .hero__div,
  .hero__figure {
    max-width: 50%;
  }

  

  /* ABOUT US SECTION */
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .about__figure, 
  .about__aside {
    max-width: 50%;
  }

  /* // WHY SECTION */
  .why {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  
  .why__div,
  .why__fieldset {
    font-size: 0.7em;
    width: clamp(200px, 32%, 400px);
    height: 150px;
  }

  .why__div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Service section */
 
  .service__div {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .service__div p{
    max-width: 50%;
  }

  .service__figure {
    width: 30%;
  }

  /* //TRUST SECTION */
  .trust__ul li {
    max-width: 120px;
  }

  /* // CONTACT SECTION */
  .contact {
    height: 60vh;
    display: flex;
  }

  .contact__div,
  .contact__figure {
    min-width: 50%;
    min-height: 50vh;
  }

  .home.contact__form {
    top: auto;
    right: -20%;
  }
      
  /* // ABOUT PAGE */
  .card__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}